extends slides

block main
  section
    h3 #[span.red Senior Software Engineer] at Amadeus IT Group
    ul
      li.fragment.
        Led technological innovation of key Amadeus solutions
      li.fragment.
        Built and coordinated cohesive and productive teams
      li.fragment.
        Redesigned completely the Infrastructure of Access Methods to
        Amadeus GDS
      li.fragment.
        Designed and developed Payment Systems Integration, Passenger
        Records and Tickets Processing pipelines
      li.fragment.
        Designed and developed highly concurrent PDF Itinerary
        Generation Systems, PDF Receipt Generation Systems
  section
    h3 #[span.red Project Management]
    ul
      li.fragment.
        Led numerous meetings with clients demonstrating effective
        communication skills
      li.fragment.
        Led over 20+ projects in teams of 2 – 5 members manifesting
        highly cohesive team building skills
      li.fragment.
        Found many consensus-based optimal solutions to arising
        problems confirming excellent analytical, problem-solving and
        conflict resolution skills
      li.fragment.
        Delivered over 30+ projects ahead of schedule proving
        excellent multitasking and time management skills
  section
    h3 #[span.red Software Architecture]
    ul
      li.fragment.
        Successfully applied Agile Methodologies in software project
        management
      li.fragment.
        Designed software systems applying Functional Programming,
        Object-Oriented Programming and Event-based Programming
      li.fragment.
        Extensive experience in building reliable, highly available,
        distributed Back Office Servers for Amadeus GDS
      li.fragment.
        Designed and developed interactive Front Office Web
        Applications with RESTful back end
      li.fragment.
        Expert knowledge of Linux, C/C++, Rust, SQL, JavaScript,
        Node.js, React.js and Software Design Patterns
  section
    h3 #[span.red Database design]
    ul
      li.fragment.
        Designed and developed relational (SQL) and document-oriented
        (noSQL) data models of query intensive booking systems for
        Amadeus GDS
      li.fragment.
        Solid competency in database design, data modeling, data
        decomposition and normalization
      li.fragment.
        Expert knowledge of SQL, PostgreSQL, SQL Server
  section
    h3 #[span.red Web development]
    ul
      li.fragment.
        Designed and developed diverse RESTful Web API for E-commerce
        and Payment Systems Integration using Node.js
      li.fragment.
        Designed and developed numerous isomorphic SEO-enabled Single
        Page Applications using React.js and Angular.js
      li.fragment.
        Extensive experience in building HTML5/CSS3 user interfaces
        using Semantic-UI and Bootstrap CSS frameworks
      li.fragment.
        Expert knowledge of Node.js, Express.js, React.js, Angular.js
  section
    h2 #[span.red Thank you]
    h3
      a(href="http://volodymyrprokopyuk.github.io/newcv/cv-volodymyr.html").
        Please check my CV for more details